<form id="form-register" action="/register_user" method="post">
  <p><span>Register and become a Doodle Snake</span></p>
  <label for="username">username:<input type="input" name="username" /></label>
  <label for="email">email:<input type="input" name="email" /></label>
  <label for="pass">password<input type="input" name="pass" /></label>
  <button type="submit" value="register" />
</form>

