<form id="form-register" action="/users/create" method="post">
  <p><span>Register and become a Doodle Snake</span></p>
  <label for="username">username:<input type="input" name="username" /></label><br />
  <label for="email">email:<input type="input" name="email" /></label><br />
  <label for="password">password<input type="password" name="password" /></label><br />
  <input type="submit" value="register" />
</form>

