
<h1>Doodle Snake</h1>

<canvas id="canvas" width="800" height="500" style="border:5px solid blue;">
</canvas>

<select id='color_id' onchange='colorSelector()'>
  <option>black</option>
  <option>blue</option>
  <option>green</option>
  <option>red</option>
  <option>brown</option>
  <option>yellow</option>
</select>
