
<h1>Doodle Snake</h1>
<!-- <script>function colorSelector(){ console.log("red"); }</script> -->


<canvas id="canvas" width="800" height="500" style="border:5px solid blue;">
</canvas>


<!-- <input type="input" name="color" value='' id="color_id"/>
<button type="submit" onclick='colorSelector()' name='color_select' />
 -->

<select id='color_id' onchange='colorSelector()'>
  <option>black</option>
  <option>blue</option>
  <option>green</option>
  <option>red</option>
  <option>brown</option>
  <option>yellow</option>
<!-- <input type = 'text' id='color_id' > -->



<!-- <form id="form-login" action="/login" method="post">
  <label for="username">username:<input type="input" name="username" /></label><br />
  <label for="pass">password:<input type="input" name="pass" /></label><br />
  <button type="submit" value="register" />
</form>

<p><a href="/register">Create a new Account</a></p>
 -->
